<br>
<div class="container-lg">
    <div class="container text-center">
        <h1>Premium Upgrade</h1>
        <p>"Upgrade to Premium and take your experience to the next level! Enjoy exclusive features and access to our best content."</p>    
          <div class="col">
            <div id="carouselExampleIndicators" class="carousel">
                <div class="carousel">
                <button type="button" class="btn btn-outline-primary w-200" for="btn1" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 0">Monthly Offers</button>
                <button type="button" class="btn btn-outline-primary w-200" for="btn2" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 1">Yearly Offers</button>
                </div>
                <div class="carousel-outter">
                <div class="carousel-item active">
                <!-- Monthly primium description -->
                <br>
                <p>Upgrade to our monthly Premium membership and enjoy access to exclusive features that will enhance your experience with our service. With Premium, you'll get access to our most advanced tools and features, including ad-free browsing, unlimited downloads, priority customer support, and much more.
                <br><br>As a Premium member, you'll get to enjoy all of our services without any limitations. Whether you're using our platform for personal or professional reasons, you'll appreciate the additional benefits and privileges that come with being a Premium member.
                <br><br>Best of all, our monthly Premium subscription is designed to be affordable and flexible, so you can upgrade your membership without breaking the bank. Sign up today and start enjoying all the benefits of Premium!
                </p>
                <br>
                <!-- Monthly primium description -->
                    <div class="row">
                        <div class="col">
                        <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                <h5 class="card-title">1 Months</h5>
                                <p class="card-text">Sign up for our 1-month Premium subscription today and start enjoying all the exclusive features and benefits available to our Premium members for a full month.</p>
                                </div>
                                <div>
                                    <label><h6>Payment Method:</h6></label>
                                    <select class="pay bg-primary">
                                      <option value="Gcash">Gcash</option>
                                      <option value="Paypal">Paypal</option>
                                      <option value="Bank">Bank</option>
                                      <option value="Credit">Credit</option>
                                    </select>
                                </div>    
                                <div class="card-body">
                                    <button type="button" class="btn btn-primary w-50">Buy</button>
                                </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                <h5 class="card-title">3 Months</h5>
                                <p class="card-text">Sign up for our 3-months Premium subscription today and start enjoying all the exclusive features and benefits available to our Premium members for a full month.</p>
                                </div>
                                <div>
                                    <label><h6>Payment Method:</h6></label>
                                    <select class="pay bg-primary">
                                      <option value="Gcash">Gcash</option>
                                      <option value="Paypal">Paypal</option>
                                      <option value="Bank">Bank</option>
                                      <option value="Credit">Credit</option>
                                    </select>
                                </div>    
                                <div class="card-body">
                                    <button type="button" class="btn btn-primary w-50">Buy</button>
                                </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                <h5 class="card-title">6 Months</h5>
                                <p class="card-text">Sign up for our 6-months Premium subscription today and start enjoying all the exclusive features and benefits available to our Premium members for a full month.</p>
                                </div>
                                <div>
                                    <label><h6>Payment Method:</h6></label>
                                    <select class="pay bg-primary">
                                      <option value="Gcash">Gcash</option>
                                      <option value="Paypal">Paypal</option>
                                      <option value="Bank">Bank</option>
                                      <option value="Credit">Credit</option>
                                    </select>
                                </div>    
                                <div class="card-body">
                                    <button type="button" class="btn btn-primary w-50">Buy</button>
                                </div>
                            </div>
                          </div>
                        </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-outter">
                        <div class="carousel-item active">
                        <!-- Yearly primium description -->
                        <p>
                        <br>
                        Upgrade to our yearly Premium membership and enjoy exclusive access to our most advanced tools and features for an entire year. With Premium, you'll get unlimited downloads, ad-free browsing, priority customer support, and much more, all designed to enhance your experience with our service.
                        <br><br>    As a Premium member, you'll enjoy all of our services without any limitations. Plus, you'll save money by signing up for a yearly subscription, compared to paying on a monthly basis.
                        <br><br>    Our yearly Premium subscription is perfect for users who are committed to using our service over a longer period. You'll have access to exclusive content, tools, and features that are not available to our standard users, so you can take full advantage of everything our platform has to offer.
                        <br><br>    Upgrade to our yearly Premium membership today and start enjoying all the benefits of being a Premium member for an entire year!
                        </p>
                        <!-- Yearly primium description -->
                        <div class="row">
                            <div class="col">
                            <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                    <h5 class="card-title">1 Year</h5>
                                    <p class="card-text">Sign up for our 1-year Premium subscription today and start enjoying all the exclusive features and benefits available to our Premium members for a full month.</p>
                                    </div>
                                    <div>
                                        <label><h6>Payment Method:</h6></label>
                                        <select class="pay bg-primary">
                                          <option value="Gcash">Gcash</option>
                                          <option value="Paypal">Paypal</option>
                                          <option value="Bank">Bank</option>
                                          <option value="Credit">Credit</option>
                                        </select>
                                    </div>    
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary w-50">Buy</button>
                                    </div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                    <h5 class="card-title">2 Years</h5>
                                    <p class="card-text">Sign up for our 2-years Premium subscription today and start enjoying all the exclusive features and benefits available to our Premium members for a full month.</p>
                                    </div>
                                    <div>
                                        <label><h6>Payment Method:</h6></label>
                                        <select class="pay bg-primary">
                                          <option value="Gcash">Gcash</option>
                                          <option value="Paypal">Paypal</option>
                                          <option value="Bank">Bank</option>
                                          <option value="Credit">Credit</option>
                                        </select>
                                    </div>    
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary w-50">Buy</button>
                                    </div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                    <h5 class="card-title">3 Years</h5>
                                    <p class="card-text">Sign up for our 3-years Premium subscription today and start enjoying all the exclusive features and benefits available to our Premium members for a full month.</p>
                                    </div>
                                    <div>
                                        <label><h6>Payment Method:</h6></label>
                                        <select class="pay bg-primary">
                                          <option value="Gcash">Gcash</option>
                                          <option value="Paypal">Paypal</option>
                                          <option value="Bank">Bank</option>
                                          <option value="Credit">Credit</option>
                                        </select>
                                    </div>    
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary w-50">Buy</button>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                </div>
                </div>
            </div>
        </div>
      </div>


    </div>
</div>
