.container{
    padding: 30px;
    border-radius: 30px;
    opacity: 0.8;
    background-color: white;
    height: 1000px;
    max-width: 1000px;
}
div{
    color: black;
}
.pay{
    border-radius: 10px;
}