<div class="container-xxl cont">
<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Register</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="row g-3" role="document">
                <!---First Name Code-->
                <div class="col-md-6">
                  <label for="inputFirstname" class="form-label col-form-label-lg">First Name</label>
                  <input type="text" class="form-control form-control-lg" id="inputFirstName" araia-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="First Name">
                </div>
                <!---First Name Code-End-->
          
                <!---Last Name Code-->
                <div class="col-md-6">
                  <label for="inputLastName" class="form-label col-form-label-lg">Last Name</label>
                  <input type="text" class="form-control form-control-lg" id="inputLastName" araia-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Last Name">
                </div>
                <!---Last Name Code-END-->
          
                <!--- User Name Code-END-->
                <div class="col-6">
                  <label for="inputUserName" class="form-label col-form-label-lg">User Name</label>
                  <input type="text" class="form-control form-control-lg" id="inputAddress" araia-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="First Name">
                </div>

                <!---Password Code-->
                <div class="col-6">
                    <label for="inputPassword" class="form-label col-form-label-lg">Password</label>
                    <input type="password" class="form-control form-control-lg" id="inputPassword" araia-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Password">
                  </div>
          
                <!---Email Code-->
                <div class="col-12">
                  <label for="inputEmail" class="form-label col-form-label-lg">Email</label>
                  <input type="email" class="form-control form-control-lg" id="inputEmail" araia-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="xxxxxx@gmail.com">
                </div>
                <!---Email Code-END-->
          
                <!---City Code-->
                <div class="col-md-6">
                    <label for="inputCountry" class="form-label col-form-label-lg">Country</label>
                    <input type="text" class="form-control form-control-lg" id="inputCountry" araia-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Country">
                  </div>
                <!---City Code-END-->

                <div class="col-md-6">
                    <label for="inputCity" class="form-label col-form-label-lg">City</label>
                    <input type="text" class="form-control form-control-lg" id="inputCity" araia-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="City">
                  </div>
          
                <!---Register--->
                <div class="col-12">
                  <button type="submit" class="btn btn-primary float-lg-end">Register</button>
                </div>
                <!---Register-End-->
          
              </form>
        </div>
      </div>
    </div>
  </div>
</div>