<!--Container-->
<br>
<div class="container-lg brd">
    <div class="container text-center">
      <div class="container-lg const2">put the shit here you stupid nigga
      </div>
      <div class="container-md const">
        <div class="col">
          <!--Buttons-->
            <div id="carouselExampleIndicators" class="carousel">
                <div class="carousel">                   
                    <button type="button" style="margin-right: 10px;" class="btn btn-outline-primary w-200" for="btn1" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 0">Vision</button>
                    <button type="button" class="btn btn-outline-primary w-200" for="btn2" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 1">Mission</button>
                    <button type="button" class="btn btn-outline-primary w-200" for="btn3" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 2">Objective</button>
                </div>
                <!--Images-->
                <div class="carousel-outter">
                    <div class="carousel-item active">
                      <h1></h1>
                    </div>
                </div>
                <div class=" carousel-item">
                    <div class="carousel-outter">
                        <div class="carousel-item active">
                          <h1></h1>
                        </div>
                    </div>
                </div>
                <div class=" carousel-item">
                  <div class="carousel-outter">
                      <div class="carousel-item active">
                        <h1></h1>
                      </div>
                  </div>
              </div>
            </div>
      </div>
    </div>
  </div>
