<!--Container-->
<br>
<div class="container-lg brd">
    <div class="container text-center">
      <div class="container-lg const2">
        <h1>About Us</h1>
        <br>
        <div class="row">
        <div class="col">
          <br>
          <p>
            Welcome to our programming tutorial! We are a team of experienced programmers and educators who are passionate about teaching programming skills to people of all ages and backgrounds. 
            Our team of experts has years of experience working in the technology industry, and we're excited to share our knowledge and expertise with you. We're committed to creating high-quality, interactive tutorials that are designed to help you achieve your programming goals.
          </p>
          <p>Thank you for choosing our programming tutorial as your learning resource. We hope you find our tutorials informative, engaging, and enjoyable, and we look forward to helping you develop your programming skills!</p>
        </div>
        <div class="col">
          <img src="https://media.tenor.com/txtnFOqF1W8AAAAC/thumbs-up-okay.gif" alt="">
        </div>
        </div>
      </div>
      <div class="container-md const">
        <div class="col">
          <div id="carouselExampleIndicators" class="carousel">
              <div class="carousel">
              <!-- buttons -->
              <button type="button" style="margin-right: 10px; width: 150px;" class="btn btn-outline-primary" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 0">Vision</button>
              <button type="button" style="margin-right: 10px; width: 150px" class="btn btn-outline-primary" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 1">Mission</button>
              <button type="button" style="margin-right: 10px; width: 150px" class="btn btn-outline-primary " data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 2">Objectives</button>
              </div>
              <div class="carousel-outter">
              <div class="carousel-item active">
              <!-- Our vision -->
              <br>
                <div class="row">
                  <div class="col">
                    <br>
                    <p class="des">Our vision is to empower people of all ages and backgrounds to learn programming and become proficient coders. We believe that programming is an essential skill for the future, and we're committed to making it accessible to everyone.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
              <div class="carousel-outter">
                <!-- Our mission -->
                <br>
                  <div class="row">
                    <div class="col">
                      <br>
                      <p class="des">Our mission is to provide high-quality programming tutorials and resources that are easy to understand, engaging, and fun. We aim to create a welcoming and supportive community that encourages and inspires learners to develop their programming skills.</p>
                    </div>
                  </div>
                </div>
                </div>
                <div class="carousel-item">
                <div class="carousel-outter">
                  <!-- Our Objectives -->
                  <br>
                    <div class="row">
                      <div class="col">
                        <br>
                        <p class="des">
                        To create a learning environment that is inclusive, accessible, and supportive.
                        To offer resources and tools that complement our programming tutorials and help learners take their skills to the next level.
                        To foster a community of learners who can share their knowledge and support each other in their programming journey.
                        To continuously improve and update our programming tutorials and resources to ensure that they remain relevant and effective.
                        </p>
                      </div>
                    </div>
                    </div>
                  </div>
          </div>
      </div>
    </div>
    </div>
  </div>
