<!-- 100% wide until large breakpoint -->
<br>
<div class="container-lg">
    <div class="container text-center">
      <!-- About Us -->
        <h1>About Us</h1>
        <div class="col">
          <br>
          <p>
            Welcome to our programming tutorial! We are a team of experienced programmers and educators who are passionate about teaching programming skills to people of all ages and backgrounds. 
            Our team of experts has years of experience working in the technology industry, and we're excited to share our knowledge and expertise with you. We're committed to creating high-quality, interactive tutorials that are designed to help you achieve your programming goals.
            Thank you for choosing our programming tutorial as your learning resource. We hope you find our tutorials informative, engaging, and enjoyable, and we look forward to helping you develop your programming skills!          
          </p>
        </div>
        
        <br>
          <div class="col">
            <div id="carouselExampleIndicators" class="carousel">
                <div class="carousel">
                <!-- buttons -->
                <button type="button" class="btn btn-outline-primary " data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 0">Vision</button>
                <button type="button" class="btn btn-outline-primary " data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 1">Mission</button>
                <button type="button" class="btn btn-outline-primary " data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 2">Objectives</button>
                </div>
                <div class="carousel-outter">
                <div class="carousel-item active">
                <!-- Our vision -->
                <br>
                  <div class="row">
                    <div class="col">
                      <img src="https://static.vecteezy.com/system/resources/previews/000/649/619/original/vector-view-icon-symbol-sign.jpg" alt="">
                      <br>
                      <br>
                      <p class="des">Our vision is to empower people of all ages and backgrounds to learn programming and become proficient coders. We believe that programming is an essential skill for the future, and we're committed to making it accessible to everyone.</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                <div class="carousel-outter">
                  <!-- Our mission -->
                  <br>
                    <div class="row">
                      <div class="col">
                        <img src="https://static.vecteezy.com/system/resources/previews/000/649/619/original/vector-view-icon-symbol-sign.jpg" alt="">
                        <br>
                        <br>
                        <p class="des">Our mission is to provide high-quality programming tutorials and resources that are easy to understand, engaging, and fun. We aim to create a welcoming and supportive community that encourages and inspires learners to develop their programming skills.</p>
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="carousel-item">
                  <div class="carousel-outter">
                    <!-- Our Objectives -->
                    <br>
                      <div class="row">
                        <div class="col">
                          <img src="https://static.vecteezy.com/system/resources/previews/000/649/619/original/vector-view-icon-symbol-sign.jpg" alt="">
                          <br>
                          <br>
                          <p class="des">To provide comprehensive programming tutorials that cover a range of programming languages and topics
                          <br><br>  To create a learning environment that is inclusive, accessible, and supportive
                          <br><br>  To offer resources and tools that complement our programming tutorials and help learners take their skills to the next level
                          <br><br>  To foster a community of learners who can share their knowledge and support each other in their programming journey
                          <br><br>  To continuously improve and update our programming tutorials and resources to ensure that they remain relevant and effective
                          </p>
                        </div>
                      </div>
                      </div>
                    </div>
            </div>
        </div>
      </div>
    </div>

    <br>
    <div class="container text-center">
      <!-- another carousel -->
        <br>
          <div class="col">
            <div id="carouselExampleIndicators1" class="carousel">
                <div class="carousel">
                <!-- buttons -->
                <button type="button" class="btn btn-outline-primary " data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" aria-current="true" aria-label="Slide 0">Founders</button>
                <button type="button" class="btn btn-outline-primary " data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 1">Team Key Members</button>
                <button type="button" class="btn btn-outline-primary " data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 2">Supporters</button>
                </div>
                <div class="carousel-outter">
                <div class="carousel-item active">
                <br>
                  <div class="row">
                    <div class="col">
                      <!-- card -->
                      <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">An item</li>
                          <li class="list-group-item">A second item</li>
                          <li class="list-group-item">A third item</li>
                        </ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                      <!-- card -->
                    </div>
                    <div class="col">
                      <!-- card -->
                      <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">An item</li>
                          <li class="list-group-item">A second item</li>
                          <li class="list-group-item">A third item</li>
                        </ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                      <!-- card -->
                    </div>
                    <div class="col">
                      <!-- card -->
                      <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">An item</li>
                          <li class="list-group-item">A second item</li>
                          <li class="list-group-item">A third item</li>
                        </ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                      <!-- card -->
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                <div class="carousel-outter">
                  <br>
                  <div class="row">
                    <div class="col">
                      <!-- card -->
                      <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">An item</li>
                          <li class="list-group-item">A second item</li>
                          <li class="list-group-item">A third item</li>
                        </ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                      <!-- card -->
                    </div>
                    <div class="col">
                      <!-- card -->
                      <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">An item</li>
                          <li class="list-group-item">A second item</li>
                          <li class="list-group-item">A third item</li>
                        </ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                      <!-- card -->
                    </div>
                    <div class="col">
                      <!-- card -->
                      <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">An item</li>
                          <li class="list-group-item">A second item</li>
                          <li class="list-group-item">A third item</li>
                        </ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                      <!-- card -->
                    </div>
                  </div>
                  </div>
                  </div>
                  <div class="carousel-item">
                  <div class="carousel-outter">
                    <br>
                    <div class="row">
                      <div class="col">
                        <!-- card -->
                        <div class="card" style="width: 18rem;">
                          <img src="..." class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                          </div>
                        </div>
                        <!-- card -->
                      </div>
                      <div class="col">
                        <!-- card -->
                        <div class="card" style="width: 18rem;">
                          <img src="..." class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                          </div>
                        </div>
                        <!-- card -->
                      </div>
                      <div class="col">
                        <!-- card -->
                        <div class="card" style="width: 18rem;">
                          <img src="..." class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                          </div>
                        </div>
                        <!-- card -->
                      </div>
                    </div>
                      </div>
                    </div>
            </div>
        </div>
      </div>
    </div>
    
</div>
<br>
<br>
<br>