
  .container{
    padding: 30px;
    border-radius: 30px;
    background-color: white;
    height: 900px;
  }
.const{
    border-radius: 30px;
    padding: 30px;
    background-color: whitesmoke;
    position: relative;
    top: 5%;
    height: 300px;
    opacity: 5px;
}
.const2{
    border-radius: 30px;
    padding: 30px;
    background-color: whitesmoke;
    height: 500px;
}
h1{
  color: black;
}
div{
  color: black;
}
img{
  height: 300px;
  width: 500px;
  border-radius: 30px;
}