<div class="alert alert-info">
    <strong>Info!</strong> If you prefer to learn by other means please click the here button
    <button type="button" class="btn btn-outline-success btns float-end" data-bs-toggle="modal" data-bs-target="#exampleModal4">Here</button>
  </div>  
<br>
<div class="container container-xl">
<app-sidebar2></app-sidebar2>
<h1 class="h1">What is HTML?</h1>
<p>HTML, short for HyperText Markup Language, is a standard markup language used for creating the structure and presenting the content of web pages. It is the foundation of the World Wide Web and is widely supported by web browsers, making it the primary language for designing and formatting web documents.</p>
<p>HTML uses a set of tags and attributes to define the elements within a web page. Tags are enclosed in angle brackets (<>) and usually come in pairs, consisting of an opening tag and a closing tag. The opening tag denotes the start of an element, while the closing tag indicates its end. Some tags, called empty tags, don't require a closing tag.</p>    
<p>Here's a basic HTML structure example:</p>

<!-- textarea -->
<div class="">
    <textarea type="text" id="textA">
        <!DOCTYPE html>
        <html>
        <body>
        
        <h1>My First Heading</h1>
        
        <p>My first paragraph.</p>
        
        </body>
        </html>
    </textarea>
        <div id="copyToClipboard-a" class="clipboard icon"></div>
</div>
<p>In this example, we have an HTML document enclosed in the html tags. The head section contains meta-information about the document, such as the title displayed in the browser's title bar. The actual content of the page is placed within the body tags. The example includes a heading (h1), and a paragraph (p).</p> 
<p>HTML also allows you to include links, create tables, forms, lists, apply styles through CSS, and embed multimedia elements, among many other features. It provides a structure for organizing content and enables the web browser to interpret and display the page appropriately.</p>
<p>It's worth noting that HTML is often used in conjunction with other technologies like CSS (Cascading Style Sheets) for styling and JavaScript for dynamic interactivity. Together, these technologies form the core building blocks of modern web development.</p>
</div>

<div class="modal fade dss" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Which method do you want to choose</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form style="text-align: center;" class="tada">
            <button type="button" class="btn btn-primary dd" routerLink="/carousel" style="margin-right: 3%;" data-bs-dismiss="modal">Video</button>
            <button type="button" class="btn btn-primary" routerLink="/gallery" data-bs-dismiss="modal">Gallery</button>
            <hr class="hr">
        </form>
        </div>
      </div>
    </div>
  </div>
