<!--Container-->
<br>
<div class="container-lg brd">
    <div class="container text-center">
        <h1>Videos</h1>
        <div class="col">
            <!--Buttons-->
              <div id="carouselExampleIndicators" class="carousel">
                  <div class="carousel">                   
                      <button type="button" style="margin-right: 10px;" class="btn btn-outline-primary w-200" for="btn1" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 0">HTML Video</button>
                      <button type="button" class="btn btn-outline-primary w-200" for="btn2" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 1">CSS Video</button>
                  </div>
                  <!--Images-->
                  <div class="carousel-outter">
                      <div class="carousel-item active">
                          <div class="grid">
                              <video src="assets/html.mp4" width="800" controls>
                              </video>
                          </div>
                      </div>
                  </div>
                  <div class=" carousel-item">
                      <div class="carousel-outter">
                          <div class="carousel-item active">
                              <div class="grid">
                                  <video src="assets/css.mp4" width="800" controls></video>
                              </div>
                            <!--end of images-->
                          </div>
                      </div>
                  </div>
              </div>
        </div>
    </div>
  </div>