<div class="container-lg">
    <nav class="navbar">
        <div class="container-fluid">
            <br>
          <button class="navbar-toggler btn btn-outline-primary w-200" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar">Lessons</span>
          </button>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header bg-dark">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Lessons</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body bg-dark">
              <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                <li class="nav-item">     
                <hr>
                  <a class="nav-link" href="#">Lesson1</a>
                  <hr>
                </li>
                <li class="nav-item">          
                    <a class="nav-link" href="#">Lesson2</a>
                    <hr>
                </li>
                <li class="nav-item">          
                    <a class="nav-link" href="#">Lesson3</a>
                    <hr>
                </li>  
                <li class="nav-item">          
                    <a class="nav-link" href="#">Lesson4</a>
                    <hr>
                </li>  
                <li class="nav-item">          
                    <a class="nav-link" href="#">Lesson5</a>
                    <hr>
                </li>
                <li class="nav-item">          
                    <a class="nav-link" href="#">Lesson6</a>
                <hr>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      </div>