<br>
<div class="container container-xl">
<app-sidebar2></app-sidebar2>
<h1>HTML Basics</h1>
<p>In this chapter we will show some basic HTML examples.</p>
<h3>HTML Documents</h3>
<p>Don't worry if we use tags you have not learned about yet.

</p>    
<p>All HTML documents must start with a document type declaration: !DOCTYPE html.</p>
<p>The HTML document itself begins with html and ends with html.</p>
<p>The visible part of the HTML document is between body and body.</p>
<!-- textarea -->
    <textarea>
        <!DOCTYPE html>
        <html>
        <body>
        
        <h1>My First Heading</h1>
        <p>My first paragraph.</p>
        
        </body>
        </html>
    </textarea>  
<!-- textarea -->

<h3>The !DOCTYPE Declaration</h3>
<p>The !DOCTYPE declaration represents the document type, and helps browsers to display web pages correctly.</p> 
<p>It must only appear once, at the top of the page (before any HTML tags).</p>
<p>The !DOCTYPE declaration is not case sensitive.</p>
</div>
