<!--Container-->
<div class="container-lg brd">
    <div class="container text-center">
        <h1>Gallery</h1>
        <div class="col">
          <!--Buttons-->
            <div id="carouselExampleIndicators" class="carousel">
                <div class="carousel">                   
                    <button type="button" style="margin-right: 10px;" class="btn btn-outline-primary w-200" for="btn1" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 0">HTML Pictures</button>
                    <button type="button" class="btn btn-outline-primary w-200" for="btn2" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 1">CSS Pictures</button>
                </div>
                <!--Images-->
                <div class="carousel-outter">
                    <div class="carousel-item active">
                        <lightgallery class="grid">
                            <a href="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                              <img src="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                            </a>
                            <a href="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                              <img src="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                            </a>
                            <a href="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                              <img src="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                            </a>
                            <a href="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                              <img src="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                            </a>
                            <a href="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                              <img src="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                            </a>
                            <a href="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                              <img src="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                            </a>
                      </lightgallery>
                    </div>
                </div>
                <div class=" carousel-item">
                    <div class="carousel-outter">
                        <div class="carousel-item active">
                            <lightgallery class="grid">
                                <a href="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                                  <img src="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                                </a>
                                <a href="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                                  <img src="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                                </a>
                                <a href="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                                  <img src="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                                </a>
                                <a href="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                                  <img src="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                                </a>
                                <a href="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                                  <img src="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                                </a>
                                <a href="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                                  <img src="https://sm.ign.com/ign_in/screenshot/default/anya-forger_z3h8.jpg">
                                </a>
                          </lightgallery>
                          <!--end of images-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
