<br>
<div class="container container-xl">
<app-sidebar2></app-sidebar2>
<h1>HTML Styles</h1>
<p>The HTML style attribute allows you to apply various styles to an element, including attributes like color, font, size, and other visual properties.</p>
<h3>HTML Style Attribute</h3>
<p>Setting the style of an HTML element, can be done with the style attribute.</p>    
<p>The CSS background-color property defines the background color for an HTML element.</p>
<p>The CSS color property defines the text color for an HTML element.</p>
<p>The CSS font-family property defines the font to be used for an HTML element.</p>
<!-- textarea -->
<textarea>
    <!DOCTYPE html>
    <html>
    <body>

    <div style="color: black; width: 300px; height: 300px; background-color: brown; font-family: 'Courier New';"> Hello World! </div>
    
    </body>
    </html>
</textarea>  
<!-- textarea -->
