<div class="container-lg">
<nav class="navbar">
    <div class="container-fluid">
        <br>
      <button class="navbar-toggler btn btn-outline-primary w-200" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar">Source</span>
      </button>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header bg-dark">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">CSS Tutorial</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-dark">
          <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
            <li class="nav-item">     
            <hr>
              <a class="nav-link" type="button" href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics">CSS</a>
              <hr>
            </li>
            <li class="nav-item">          
                <a class="nav-link" type="button" href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a>
                <hr>
            </li>
            <div class="dropdown bg-dark">
              <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Videos
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://youtu.be/cyuzt1Dp8X8">HTML & CSS Full Course</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/watch?v=a_iQb1lnAEQ">HTML & CSS Full Course for beginner</a></li>
                <li><a class="dropdown-item" href="https://youtu.be/iG2jotQo9NI">HTML & CSS for Beginners</a></li>
                <li><a class="dropdown-item" href="https://youtu.be/G3e-cpL7ofc">HTML & CSS Full Course</a></li>
                <li><a class="dropdown-item" href="https://youtu.be/qz0aGYrrlhU">HTML Tutorial for Beginners: HTML</a></li>
                <li><a class="dropdown-item" href="https://youtu.be/mU6anWqZJcc">Learn HTML5 and CSS3 From Scratch</a></li>
                <li><a class="dropdown-item" href="https://youtu.be/m7zIPfMIC_Q">Learning HTML and CSS as a Beginner</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/watch?v=UB1O30fR-EE&list=PLillGF-RfqbZTASqIqdvm1R5mLrQq79CU">HTML & CSS</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/watch?v=TKYsuU86-DQ&list=PL0eyrZgxdwhwNC5ppZo_dYGVjerQY3xYU">HTML and CSS Tutorials</a></li>
              </ul>
            </div>            
          </ul>
        </div>
      </div>
    </div>
  </nav>
  </div>