<div class="container-lg">
<nav class="navbar">
    <div class="container-fluid">
        <br>
      <button class="navbar-toggler btn btn-outline-primary w-200" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar">Source</span>
      </button>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header bg-dark">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">CSS Tutorial</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-dark">
          <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
            <li class="nav-item">     
            <hr>
              <a class="nav-link" type="button" href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics">CSS</a>
              <hr>
            </li>
            <li class="nav-item">          
                <a class="nav-link" type="button" href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics">HTML</a>
                <hr>
            </li>
            <li class="nav-item">          
                <a class="nav-link"type="button" href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics">Pictures</a>
                <hr>
            </li>  
            <li class="nav-item">          
                <a class="nav-link" type="button" href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics">Videos</a>
                <hr>
            </li>
            <div class="dropdown bg-dark">
              <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                References
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/css">Introduction</a></li>
                <li><a class="dropdown-item" routerLink="/cssbasics">Basics</a></li>
                <li><a class="dropdown-item" routerLink="/cssbackground">Backgournd</a></li>
                <li><a class="dropdown-item" routerLink="/csstable">Tables</a></li>
                <li><a class="dropdown-item" routerLink="/carousel">Videos</a></li>
                <li><a class="dropdown-item" routerLink="/gallery">Gallery</a></li>
              </ul>
            </div>            
          </ul>
        </div>
      </div>
    </div>
  </nav>
  </div>