<br>
<div class="alert alert-info">
    <strong>Info!</strong> If you prefer to learn by other means please click the here button
    <button type="button" class="btn btn-outline-success btns float-end" data-bs-toggle="modal" data-bs-target="#exampleModal5">Here</button>
  </div>  
<div class="container container-xl">
<app-sidebar></app-sidebar>
<h1 class="h1">CSS Introduction</h1>
<p>CSS (Cascading Style Sheets) is a style sheet language used for describing the presentation and appearance of a document written in HTML (Hypertext Markup Language). It provides a way to control the layout, formatting, colors, and other visual aspects of a web page, allowing web developers to separate the content of a page from its presentation.</p>
<p>CSS works by selecting HTML elements and applying styles to them. It uses a set of rules to define how elements should be styled. These rules consist of selectors and declarations. The selector specifies which elements the rule applies to, and the declaration contains one or more property-value pairs that define the specific styles to be applied.</p>
<p>Here's an example of a CSS rule:</p>
<!-- textarea -->
<textarea>
  h1 {
    color: blue;
    font-size: 24px;
  }
</textarea>  
<!-- textarea -->
<p>In this example, h1 is the selector, which targets all the h1 elements in the HTML document. The declarations within the curly braces define the styles to be applied. In this case, the text color will be blue, and the font size will be 24 pixels.</p>
<p>CSS is a powerful tool for web developers, enabling them to create visually appealing and consistent web pages by separating the content from the presentation.</p>
</div>
<div class="modal fade dss" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Which method do you want to choose</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form style="text-align: center;" class="tada">
            <button type="button" class="btn btn-primary dd" routerLink="/carousel" style="margin-right: 3%;" data-bs-dismiss="modal">Video</button>
            <button type="button" class="btn btn-primary" routerLink="/gallery" data-bs-dismiss="modal">Gallery</button>
            <hr class="hr">
        </form>
        </div>
      </div>
    </div>
  </div>
