img{
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.imagecontainer {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: .8;
    border-radius: 10px;
  }
  h1{
    position: relative;
    font-size: 50px;
    color: #ffffff; 
    opacity: 1;
  }
  .btns{
    position: relative;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -150%);
    width: 300px;
    font-size: x-large;
  }
  .dds{
    display: none;
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}