<br>
<div class="container container-xl">
<app-sidebar2></app-sidebar2>
<h1>CSS Basics</h1>
<div class="row">
    <div class="col">
    <h3>Element Selector:</h3>
    <!-- textarea -->
<textarea>
    h1 {
        color: blue;
        font-size: 24px;
      }
</textarea>  
<!-- textarea -->
<p>This example selects all h1 elements and applies a blue color and a font size of 24 pixels.</p>
<h3>Class Selector:</h3>
<!-- textarea -->
<textarea>
    .highlight {
        background-color: yellow;
        font-weight: bold;
      }
</textarea>  
<!-- textarea -->
<p>This example selects all elements with class="highlight" and applies a yellow background color and bold font weight.</p>
    </div>
    <div class="col">
        <h3>ID Selector:</h3>
        <!-- textarea -->
        <textarea>
            #header {
                background-color: gray;
                height: 100px;
              }
        </textarea>  
        <!-- textarea -->
        <p>This example selects the element with id="header" and applies a gray background color and a height of 100 pixels.</p>
        <p>These examples illustrate some fundamental concepts of CSS. By using different selectors, properties, and values, you can customize the appearance of your web pages in various ways.</p>
    </div>
</div>

